body {
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: 'Verdana', serif;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke-width: 1.5px;
}

.node text {
	fill: #C4C4C4;
}

line.link, path.link{
  fill: none;
  stroke: #ccc;
  stroke-linecap: round;
  opacity:0.2;
}

rect.buttonnode{
    stroke:#bbb;
    rx:3px;
    ry:3px;
    fill:#eee;
}

text.link{
  font-weight:normal;
}

text.highlight {
    /* font-weight:bold; */
}

line.highlight, path.highlight{
    stroke: #FFA6A6;
}

.main 
{
    padding: 20px;
}

.error 
{
    color:red;
    display:none;
    padding-top:20px;
}

.right
{
	text-align:right;
}

.left
{
	text-align:left;
}

.bar
{
	background-color:steelblue;
	text-opacity:1;
}

.bookTree {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-width:1px;
	border-color:#343434;
	padding:10px;
}
